/* Body Styling */
body {
    font-family: Arial, sans-serif;
    background-color: black;
    margin: 0;
    padding: 0;
}


/* Header */
header {
    background-color: #2c3e50;
    color: white;
    text-align: center;

    padding: 30px;
    /* Padding inside header */
    margin-bottom: 30px;
    /* Space below header */
}


/* Profile Section */
.profile {
    width: 60%;
    /* Fixed width */
    margin: auto;
    /* Center align */

    background-color: white;
    /* Light background */

    padding: 80px;
    /* Padding inside box */

    border: 3px solid white;
    /* Border */

    border-radius: 30px;
    /* Rounded corners */

    text-align: center;

    margin-bottom: 30px;
    /* Space below profile */
}


/* Student Image */
.profile img {
    width: 200px;
    height: 200px;

    border-radius: 50%;
    /* Round image */

    margin-bottom: 15px;
}


/* Name */
.profile h2 {
    font-size: 28px;
    /* px unit */
    margin-bottom: 15px;
}


/* Paragraph */
.profile p {
    font-size: 1em;
    /* em unit */
    margin: 15px 0;
}


/* Bio */
.bio {
    font-size: 90%;
    /* % unit */
    margin-top: 20px;
}


/* Footer */
footer {
    text-align: center;

    background-color: #2c3e50;
    color: white;

    padding: 20px;

    margin-top: 30px;
}